# You should not ignore .gitignore, since it's supposed to be included in the repository. I.e. don't have .gitignore in this file
BU_pack/
.git/
*/.git
*/**/.git
*/*/*/.git
*.ipynb
*.ipynb_checkpoint
dotfiles/git/.gitconfig
scratch.md # Shortcut -> % vx 
tabular
vim-airline
/home/donagh/PORTABLE_ENV/vim/plugins/vim-abolish/.git
/home/donagh/PORTABLE_ENV/vim/plugins/loremipsum/orig_dot_git
/home/donagh/PORTABLE_ENV/vim/plugins/fzf/.git
/home/donagh/PORTABLE_ENVvim/plugins/fzf/.rubocop.yml
/home/donagh/PORTABLE_ENVvim/plugins/iceberg*
iceberg*
/home/donagh/PORTABLE_ENVvim/plugins/iceberg.vim
/home/donagh/PORTABLE_ENVvim/plugins/iceberg.vim/.git
 vim/plugins/vim/.git/

