nb/*
zArchive/
*/.git/
.git/*
.git/
reinstall/full_manjaro_reinstall_Dec2021.md
*.swp
zshrc_from_ohMYzsh
TODO/.*
TRIALS/.*
TRIALS/
zArchive/*
*/.git/
vim-superman
BU*
backups/*
autokey/pwgit.*
vim/dotvim/pack/janet/*
vim/dotvim/pack/Goyo/*
vim/dotvim/pack/limelight/*
vim/dotvim/pack/*/start/*/.git/
vim/dotvim/pack/speedating/
