# set a shell
SHELL=/bin/bash

# Pro tip: 
Don't forget to end your cron files with an empty line or a comment, otherwise it will not work.

# crontab format
* * * * *  command_to_execute
- - - - -
| | | | |
| | | | +- day of week (0 - 7) (where sunday is 0 and 7)
| | | +--- month (1 - 12)
| | +----- day (1 - 31)
| +------- hour (0 - 23)
+--------- minute (0 - 59)

5th *
0 Sunday
1 Monday
2 Tuesday
3 Wednesday
4 Thursday
5 Friday
6 Saturday
7 Sunday

1st *   2nd *   3rd *   4th *   5th *
minute  hour    day     month   dayofweek

# every 15 min
*/15 * * * * /home/user/command.sh

# every hour
* */1 * * * /home/donagh/.scripts/

# every midnight
0 0 * * * /home/user/command.sh

# every Saturday at 8:05 AM
5 8 * * 6 /home/user/command.sh

# borg backup schedule
0 16 * * * 

